.stay-tab {
    width: 70%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    margin-top: 2%;
}
.message {
    margin-left: 15%;
}
.stay-image img {
    width: 150px;
    height: 150px;
    margin-right: 20px;
}

.btn-warning {
    width:150px;
    --bs-btn-color: #fff;
    --bs-btn-bg: orange;
    --bs-btn-border-color: orange;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: orange;
    --bs-btn-hover-border-color: orange;
    --bs-btn-focus-shadow-rgb: 241, 194, 91;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: orange;
    --bs-btn-active-border-color: orange;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: orange;
    --bs-btn-disabled-border-color: orange;
  }

.stay-details {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.stay-details-column {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.stay-details-column p {
    margin: 0;
}

.stay-details .apply-button {
    align-self: flex-end;
    width: fit-content;
    /* Ensure button width fits its content */
}

.button {
    text-align: right;
}

.btn.btn-primary {
    width: 30%;
}